body{
    background-color: #3D2B46;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    margin: 0 auto;
}
.content{
    background-image: url(./img/background.png);
    background-size: auto;
    background-repeat: no-repeat;
    height: 1024px;
}
.border{
    max-width: 537px;
}
.buttons{
    max-width: 359px;
}
.btn{
    display: flex;
    flex-direction: column;
    max-width: 359px;
}
.wizard{
    max-height: 635px;
}